<div class="about">
  <section class="about__section">
    <h2 class="about__section__header">What is Daily Astrologie?</h2>
    <p class="about__section__body">
      Daily Astrologie is a daily horoscope subscription which delivers your
      daily horoscope every morning to your device through push notifications.
    </p>
  </section>
  <section class="about__section">
    <h2 class="about__section__header">What are push notifications?</h2>
    <p class="about__section_body">
      You already receive notifications daily from the most popular apps -
      Facebook, Instagram, Pinterest. Our product was built on the same
      technology as these companies and we deliver your horoscope every morning,
      with additional stories and content we think you will enjoy.
    </p>
  </section>
</div>
