<!-- Google Analytics Content Experiment code -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="theme-color" content="#000000" />
<title>{{ title }}</title>

<script>
  var utmx = function () { };
  if (window.location.pathname.match(`/$`)) {
    function utmx_section() { }

    function utmx() { }
    (function () {
      var k = "176602957-18",
        d = document,
        l = d.location,
        c = d.cookie;
      if (l.search.indexOf("utm_expid=" + k) > 0) return;

      function f(n) {
        if (c) {
          var i = c.indexOf(n + "=");
          if (i > -1) {
            var j = c.indexOf(";", i);
            return escape(c.substring(i + n.length + 1, j < 0 ? c.length : j));
          }
        }
      }
      var x = f("__utmx"),
        xx = f("__utmxx"),
        h = l.hash;
      d.write(
        "<sc" +
        'ript src="' +
        "http" +
        (l.protocol == "https:" ? "s://ssl" : "://www") +
        ".google-analytics.com/ga_exp.js?" +
        "utmxkey=" +
        k +
        "&utmx=" +
        (x ? x : "") +
        "&utmxx=" +
        (xx ? xx : "") +
        "&utmxtime=" +
        new Date().valueOf() +
        (h ? "&utmxhash=" + escape(h.substr(1)) : "") +
        '" type="text/javascript" charset="utf-8"><\/sc' +
        "ript>"
      );
    })();
  }
</script>
<script>
  utmx("url", "A/B");
</script>
<!-- End of Google Analytics Content Experiment code -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120414214-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "UA-120414214-1"); // Analytics config
  gtag("config", "AW-801537232"); // Ad words config
</script>
<link rel="manifest" href="/manifest.json" />
<link rel="shortcut icon" href="/favicon.ico" />
<!-- AdX Dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="dns-prefetch" href="//exmarketplace.com" />
<script async src="https://exmarketplace.com/bidder/prebid.js"></script>
<script async src="https://exmarketplace.com/bidder/adsbooster.js"></script>
<script src="https://exmarketplace.com/bidder/dailyastrologie/dailyastrologie.dfp.js"></script>
