<section class="horoscopes">
  <div class="horoscopes__buttons">
    <button
      type="button"
      data-id="horoscope_button"
      id="libra"
      class="horoscopes__buttons__button"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 78.63 53.47">
        <path
          d="M77.81,33.83l-32.47,0s6.82-3.25,7.1-13c0-.54-.66-12.92-13.12-12.92S26.24,20.28,26.19,20.82c.29,9.79,7.11,13,7.11,13l-32.48,0c-1.14,0-.9-.68-.41-.78,6.7-1.4,17.72-3.67,20.94-4.51C14.4,15.12,24.63,0,39.32,0s24.91,15.12,18,28.54c3.22.84,14.24,3.11,20.94,4.51C78.72,33.15,79,33.83,77.81,33.83Zm.33,12.87H.58c-.54,0-.67.46-.16.63a126.54,126.54,0,0,0,77.87,0C78.8,47.16,78.67,46.7,78.14,46.7Z"
        ></path></svg
      ><span class="horoscopes__buttons__button__text">
        <span class="horoscopes__buttons__button__text__name">Libra</span>
        <span class="horoscopes__buttons__button__text__date"
          >Sep 23 - Oct 22</span
        >
      </span></button
    ><button
      type="button"
      data-id="horoscope_button"
      id="virgo"
      class="horoscopes__buttons__button"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 62.95 74.64">
        <path
          d="M61,22.11c-1.35-3.77-8.4,2-10.83,5.16.31-9.38.93-17-1.08-21.25C46-1.64,37.34-2,31.13,5.3,28.2-1.25,20.05-2.14,13.72,5,10.77-1.77.43-1.61,0,5.39c1.38-1.27,3.55-1.58,6.23.2,4.69,3.1,2.22,11.93,5.52,60a.55.55,0,0,0,1.09,0c1.57-22.94,2.32-50.33,2.32-50,.32-3.85,4.11-8.46,7.54-9.11,5.84-1.1,3.65,12.65,6.62,59.14a.55.55,0,0,0,1.09,0c3.47-54.33.73-51,4.75-55.8,1.67-2,6.06-5.67,8-1.31,2,4.54,1.39,40.73,3.24,53.22a91.28,91.28,0,0,1-9.6,10.59.32.32,0,0,0,.38.52,54.29,54.29,0,0,0,10-7.43c1.28,4.64,4.91,9.72,5.66,9.19a.37.37,0,0,0,.08-.52A20.49,20.49,0,0,1,49,63.61C60.23,52.25,66.33,37.28,61,22.11ZM48.9,58.28s.8-17.2,1.11-26.16a20.17,20.17,0,0,1,7.5-6.22C59.17,37.65,55.72,48.35,48.9,58.28Z"
        ></path></svg
      ><span class="horoscopes__buttons__button__text">
        <span class="horoscopes__buttons__button__text__name">Virgo</span>
        <span class="horoscopes__buttons__button__text__date"
          >Aug 23 - Sep 22</span
        >
      </span></button
    ><button
      type="button"
      data-id="horoscope_button"
      id="aries"
      class="horoscopes__buttons__button"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 81.29 75.72">
        <path
          d="M40.64,27.69C31.42-19-13.35,2.38,3.93,26.27A.42.42,0,0,0,4.68,26C1,8.44,14.35,5.69,19.4,7.92,35.34,15,36.58,39,39.7,70.51c0,.22.49,4.73.56,4.94a.38.38,0,0,0,.38.27.4.4,0,0,0,.39-.27c.07-.21.53-4.72.56-4.94C44.7,39,45.94,15,61.89,7.92c4.52-2,18.56,0,14.71,18a.42.42,0,0,0,.76.31C94.64,2.38,49.87-19,40.64,27.69Z"
        ></path></svg
      ><span class="horoscopes__buttons__button__text">
        <span class="horoscopes__buttons__button__text__name">Aries</span>
        <span class="horoscopes__buttons__button__text__date"
          >Mar 21 - Apr 19</span
        >
      </span></button
    ><button
      type="button"
      data-id="horoscope_button"
      id="taurus"
      class="horoscopes__buttons__button"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70.43 78.1">
        <path
          d="M70.07.39a15.84,15.84,0,0,0-8.25.32C51.16,4.81,47.75,20.57,35.21,20.57S19.27,4.81,8.6.71A15.8,15.8,0,0,0,.36.39a.44.44,0,0,0,0,.86A27,27,0,0,1,4.15,2.43C13.78,6.36,12.38,18,22,23.85-3.29,36.78,2.84,77.11,35.06,78.1h.31c32.21-1,38.35-41.32,13.09-54.25C58.05,18,56.65,6.36,66.28,2.43A27.29,27.29,0,0,1,70.1,1.25.44.44,0,0,0,70.07.39Zm-20,68a22,22,0,0,1-29.79,0C8.82,58,11.51,39.6,24,32.68a24.28,24.28,0,0,1,11.21-2.86,24.32,24.32,0,0,1,11.22,2.86C58.92,39.6,61.61,58,50.11,68.38Z"
        ></path></svg
      ><span class="horoscopes__buttons__button__text">
        <span class="horoscopes__buttons__button__text__name">Taurus</span>
        <span class="horoscopes__buttons__button__text__date"
          >Apr 20 - May 20</span
        >
      </span></button
    ><button
      type="button"
      data-id="horoscope_button"
      id="gemini"
      class="horoscopes__buttons__button"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.39 74.45">
        <path
          d="M53,64.39V10.06C66.62,7.36,77.5.72,77.38.19S77.66-.12,65,2.76a120.36,120.36,0,0,1-52.63,0C-.27-.12.1-.25,0,.19s10.77,7.17,24.36,9.87V64.39C11.3,67-.36,73.71,0,74.35c.16.25.86,0,1.19-.08,28.31-7,45.75-7.23,75,0,.33.07,1,.33,1.18.08C77.75,73.71,66.09,67,53,64.39ZM46,63.3a61.45,61.45,0,0,0-14.66,0V11.15a60.93,60.93,0,0,0,14.66,0Z"
        ></path></svg
      ><span class="horoscopes__buttons__button__text">
        <span class="horoscopes__buttons__button__text__name">Gemini</span>
        <span class="horoscopes__buttons__button__text__date"
          >May 21 - Jun 20</span
        >
      </span></button
    ><button
      type="button"
      data-id="horoscope_button"
      id="cancer"
      class="horoscopes__buttons__button"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 78.79 66.79">
        <path
          d="M78.56,10.81C50.1-7.24,11.29.22,2.86,12.14A15.89,15.89,0,0,0,1.25,27.43c5.91,14.45,28.2,12.68,30.56-4.28A15,15,0,0,0,24.9,8.05c18.42-3.71,37.72-1,53.24,3.67A.51.51,0,0,0,78.56,10.81ZM26.92,21.59A10.9,10.9,0,1,1,16,10.68,10.9,10.9,0,0,1,26.92,21.59ZM.24,56C28.69,74,67.5,66.57,75.93,54.65a15.92,15.92,0,0,0,1.62-15.29C71.63,24.91,49.35,26.68,47,43.63a15,15,0,0,0,6.91,15.11c-18.41,3.71-37.72,1-53.23-3.67A.51.51,0,0,0,.24,56ZM51.87,45.2a10.91,10.91,0,1,1,10.9,10.91A10.9,10.9,0,0,1,51.87,45.2Z"
        ></path></svg
      ><span class="horoscopes__buttons__button__text">
        <span class="horoscopes__buttons__button__text__name">Cancer</span>
        <span class="horoscopes__buttons__button__text__date"
          >Jun 21 - Jul 22</span
        >
      </span></button
    ><button
      type="button"
      data-id="horoscope_button"
      id="leo"
      class="horoscopes__buttons__button"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.82 80.65">
        <path
          d="M65.79,67.11a.32.32,0,0,0-.64,0c-1.35,14.55-17.49,12.63-18.69,3.4-1.66-10.86,13-41.22,12.9-53.24C58.87-11.12,4-3.21,24.83,31.53c-18.13-11-35,15.38-17.43,27.61,9.2,6.43,22.82,1.5,25.33-10.65,2.94-14.27-7.37-21.78-5.2-33.08,2-11.18,13.16-10.2,12.62-10.14C67.76,6.5,29.34,63.36,45.86,77.64,52.87,83.75,66.54,80.7,65.79,67.11ZM16.52,55.94A10.5,10.5,0,1,1,27,45.44,10.5,10.5,0,0,1,16.52,55.94Z"
        ></path></svg
      ><span class="horoscopes__buttons__button__text">
        <span class="horoscopes__buttons__button__text__name">Leo</span>
        <span class="horoscopes__buttons__button__text__date"
          >Jul 23 - Aug 22</span
        >
      </span></button
    ><button
      type="button"
      data-id="horoscope_button"
      id="capricorn"
      class="horoscopes__buttons__button"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75.2 75.87">
        <path
          d="M56.87,33.26c-8.82.3-13.6,4.53-17.23,12.57C35.83,26.4,42.17-.72,26.12,0,18.94.41,14.84,9.78,13,16.83c-.29-3.52-1-8.23-2.57-11.41C6.84-1.76.45.26,0,1.3c10.36,4.61,6.68,27.47,10.28,49,.07.47.53.35.53,0C13.87,22,23.22,3.61,28.11,7.45c5.19,4.21,4.42,31.29,9.12,44.5-3.64,9.81-7.3,18.5-18.42,22a34.49,34.49,0,0,1-7.27,1.39.27.27,0,0,0,0,.53c16.37,0,22.66-9.13,27.86-19,8.44,15.23,33.86,12.82,35.66-3.17C76.18,44.4,69.33,33.36,56.87,33.26ZM41.61,52.74c3.09-5.88,8.7-16.85,20.6-11.59a13.18,13.18,0,0,1,6.29,6.19C76.08,63.18,49,71.14,41.61,52.74Z"
        ></path></svg
      ><span class="horoscopes__buttons__button__text">
        <span class="horoscopes__buttons__button__text__name">Capricorn</span>
        <span class="horoscopes__buttons__button__text__date"
          >Dec 22 - Jan 19</span
        >
      </span></button
    ><button
      type="button"
      data-id="horoscope_button"
      id="scorpio"
      class="horoscopes__buttons__button"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68.11 78.41">
        <path
          d="M59.55,72.9c-2.33-.11-6.35,0-8.7-3.61-2.51-4-1.49-10.76-1.37-15C50.66,16.44,53.1,1.4,41.54.11c-4-.39-7.93,2.2-10.51,5.27C28.37-.93,20.24-2.4,13.67,4.85,10.7-1.73.43-1.6,0,5.39c1.38-1.27,3.55-1.58,6.23.2,4.5,3,2.23,10.32,5,54.29.35,5.37.23,3.56.38,5.74a.55.55,0,0,0,1.09,0c1.84-26.82,1.87-44.3,2.32-50s8.4-13.08,10.81-6.37c1.55,4.32.57,14.61,3.11,50.66.17,2.52.26,3.57.42,5.74a.37.37,0,0,0,.73,0c1.58-20.29,2.16-48.8,2.55-51.62.67-4.9,7.84-10.35,10.09-6.18,2.43,4.51,1.89,48,2.79,55.3,1.2,9.42,5.91,12.35,13.79,12L54.54,77.9a.27.27,0,0,0,.22.49l13.35-4C50.11,67.1,52.52,68.08,59.55,72.9Z"
        ></path></svg
      ><span class="horoscopes__buttons__button__text">
        <span class="horoscopes__buttons__button__text__name">Scorpio</span>
        <span class="horoscopes__buttons__button__text__date"
          >Oct 23 - Nov 21</span
        >
      </span></button
    ><button
      type="button"
      data-id="horoscope_button"
      id="sagittarius"
      class="horoscopes__buttons__button"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.99 65.91">
        <path
          d="M59.78,9l-.46-2.31L57,6.22,25.77,0a.44.44,0,0,0-.51.34.43.43,0,0,0,.24.48l22.36,11L24.15,38.1,3.4,26.19a.36.36,0,0,0-.46.09.35.35,0,0,0,0,.47L19.49,43.27.19,64.66a.75.75,0,0,0,1.06,1.06l21.39-19.3L39.15,62.94a.36.36,0,0,0,.57-.44L27.8,41.76,54.11,18l11,22.48a.44.44,0,0,0,.48.23.42.42,0,0,0,.34-.51Z"
        ></path></svg
      ><span class="horoscopes__buttons__button__text">
        <span class="horoscopes__buttons__button__text__name">Sagittarius</span>
        <span class="horoscopes__buttons__button__text__date"
          >Nov 22 - Dec 21</span
        >
      </span></button
    ><button
      type="button"
      data-id="horoscope_button"
      id="aquarius"
      class="horoscopes__buttons__button"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 79.22 41.98">
        <path
          d="M.06,39.21C-1,37.93,13.05,22,29.15,28.48c4,1.62,5.59,2.49,10.34,6.38,10.95-10.32,27.4-11.95,39.65,3.88a.38.38,0,0,1-.51.54c-6.93-4.74-11.58-7.84-20.09-7.5-14.9,1.81-16.45,13.4-21,9.34-5-4.56-10.42-9.06-17.65-9.33C13,31.3,5.69,34.9.6,39.24A.38.38,0,0,1,.06,39.21ZM.6,12.33C5.69,8,13,4.39,19.88,4.87c7.23.27,12.69,4.77,17.65,9.33,4.56,4.06,6.11-7.53,21-9.33,8.51-.35,13.16,2.75,20.09,7.5a.38.38,0,0,0,.51-.55C66.89-4,50.44-2.38,39.49,7.94c-4.75-3.89-6.35-4.75-10.34-6.38C13.05-5-1,11,.06,12.29A.38.38,0,0,0,.6,12.33Z"
        ></path></svg
      ><span class="horoscopes__buttons__button__text">
        <span class="horoscopes__buttons__button__text__name">Aquarius</span>
        <span class="horoscopes__buttons__button__text__date"
          >Jan 21 - Feb 18</span
        >
      </span></button
    ><button
      type="button"
      data-id="horoscope_button"
      id="pisces"
      class="horoscopes__buttons__button"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 62.3 81.24">
        <path
          class="horoscope1"
          d="M44.1,43.35a122,122,0,0,0,18-2.46.27.27,0,0,0,.21-.27.27.27,0,0,0-.21-.27,122,122,0,0,0-18-2.46C45.48,23.28,53.82,12.45,62.24.44a.27.27,0,0,0,0-.32C62-.22,61.6.24,61,.65s-2.65,1.85-4.24,3.1c-10.67,9-18.32,19.93-19.81,33.77-4.2-.16-7.15-.17-11.56,0C23.88,23.68,16.23,12.7,5.56,3.75,4,2.5,1.86,1,1.32.65S.28-.22.05.12a.26.26,0,0,0,0,.32c8.42,12,16.77,22.84,18.14,37.45a122,122,0,0,0-18,2.46.27.27,0,0,0-.21.27.27.27,0,0,0,.21.27,122,122,0,0,0,18,2.46C16.83,58,8.48,68.79.06,80.8a.27.27,0,0,0,0,.33c.23.33.65-.12,1.27-.54S4,78.75,5.56,77.49c10.67-8.95,18.32-19.92,19.81-33.77,4.19.17,7.15.17,11.56,0,1.49,13.85,9.14,24.82,19.81,33.77,1.59,1.26,3.7,2.71,4.24,3.1s1,.87,1.27.54a.29.29,0,0,0,0-.33C53.82,68.79,45.48,58,44.1,43.35Z"
        ></path></svg
      ><span class="horoscopes__buttons__button__text">
        <span class="horoscopes__buttons__button__text__name">Pisces</span>
        <span class="horoscopes__buttons__button__text__date"
          >Feb 19 - Mar 20</span
        >
      </span>
    </button>
  </div>
</section>
