<nav class="nav">
  <section class="nav__content">
    <a class="logo" href="/">
      <span class="logo__text">Daily.</span>
      <span class="logo__text--bold">Astrologie</span>
    </a>
  </section>
</nav>
