<!DOCTYPE html>
<html lang="en">

<head>
  {{> head this }}
  <link rel="stylesheet" href="stylesheets/index.css" />
</head>

<body>
  {{> nav }}
  <main class="view view--index">
    {{> loading }}
    {{> adx }}
    {{> horoscopes }}
    {{> about }}
  </main>
  {{> footer }}
  {{> beforeBody  }}
  <script src="javascripts/index.js"></script>
</body>

</html>
