<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- @import "./partials/head.kit" -->
    <link rel="stylesheet" href="./css/thankyou.min.css" />
  </head>
  <body>
    <main class="view view--thankyou">
      <h1>
        Click the notification in your notification panel to view your
        horoscope!
      </h1>
      <a class="offer" data-id="offer">
        <img
          data-id="offer_image"
          alt="Offer Image"
          src=""
          class="offer__image"
        />
      </a>
    </main>
    <!-- @import ./partials/beforeBody.kit -->
    <script src="./js/thankyou.min.js"></script>
  </body>
</html>
