<!DOCTYPE html>
<html class="gr__dailyastrologie_com" lang="en">

<head>
  {{> head this }}
  <link href="stylesheets/unsubscribe.css" rel="stylesheet" />
</head>

<body>
  {{> nav this }}
  <main class="view view--unsubscribe">
    <div class="page-title active">
      <h1>Unsubscribe From Messages</h1>
      <h2>Updated as of August 28, 2018</h2>
    </div>
    <h2 data-id="message" class="unsubscribe-msg">
      We do not detect a subscription on your device. Please check the site
      settings to unsubscribe to push notifications.
    </h2>
    <button class="unsubscribe-btn btn" disabled data-id="unsubscribe" type="primary">
      No Subscription Detected
    </button>
    <div class="unsubscribe-links">
      <h2>Unsubscribe Links for Platforms and Browsers</h2>
      <h3>Desktop Google Chrome</h3>
      <p>
        Please go to this<a href="//support.google.com/chrome/answer/3220216?co=GENIE.Platform%3DDesktop&amp;hl=en"
          rel="noopener noreferrer" target="_blank">LINK</a>to learn how to disable notifications for Google Chrome
        Desktop.
      </p>
      <h3>Desktop Mozilla Firefox</h3>
      <p>
        Please go to this<a
          href="//support.mozilla.org/enUS/kb/pushnotificationsfirefox#w_howdoirevokewebpushpermissionsforaspecificsite"
          rel="noopener noreferrer" target="_blank">LINK</a>to learn how to disable notifications for Mozilla Firefox
        Desktop.
      </p>
      <h3>Android Google Chrome</h3>
      <p>
        Please go to this<a href="//support.google.com/chrome/answer/3220216?hl=en&amp;co=GENIE.Platform%3DAndroid"
          rel="noopener noreferrer" target="_blank">LINK</a>to learn how to disable notifications for Google Chrome
        Android.
      </p>
      <h3>Android Mozilla Firefox</h3>
      <p>
        Please go to this<a href="//support.mozilla.org/enUS/kb/controlnotificationsfirefoxandroid"
          rel="noopener noreferrer" target="_blank">LINK</a>to learn how to disable notifications for Mozilla Firefox
        Android.
      </p>
    </div>
  </main>
  {{> footer this }}
  {{> beforeBody this }}
  <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-messaging.js"></script>
  <script async src="//pushible.com/js/unsubscribe"></script>
  <script src="javascripts/unsubscribe.js"></script>
</body>

</html>
