<footer class="footer">
  <ul class="footer__items">
    <li class="footer__items__item">
      <a href="unsubscribe">Unsubcribe</a>
    </li>
    <li class="footer__items__item">
      <a href="cookie-policy">Cookie Policy</a>
    </li>
    <li class="footer__items__item">
      <a href="terms-of-use">Terms Of Use</a>
    </li>
    <li class="footer__items__item">
      <a href="privacy-policy">Privacy Policy</a>
    </li>
    <li class="footer__items__item">
      Copyright &copy; 2019 All Rights Reserved
    </li>
  </ul>
</footer>
